<header>
  <h1>
    Welcome Home. 
  </h1>
  <hello-angular></hello-angular>
  <section>
    <p>
      Home of the Webpacker App.
    </p>
  </section>
  <h6>We're using Rails <%= Rails.version %></h6>
</header>
